
.about-section{
    height: 100vh;
}  

#forbg{
    background-color: #1abc9c;
}
ul{
    list-style-type: none;
}

span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* title styling   */
.star-icon {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .star-icon i {
    font-size: 1.2rem; 
    color: white; 
    position: relative; 
    z-index: 1; 
  }
  
  /* .star-icon i::before, */
  .star-icon i::after {
    content: ''; 
    position: absolute; 
    height: 4px; 
    width: 100px; 
    background-color: white; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 0; 
  }
  
  .star-icon i::before {
    left: -120px; 
  }
  
  .star-icon i::after {
    right: -120px; 
  }
  

 

  /* navlink active styling*/
  .nav-link.active {
    background-color: #1abc9c; 
    color: white; 
    border-radius: 10%;
  }
  